{{/* layouts/shortcodes/x.html
Usage:
  {{< x url="https://x.com/handle/status/123" >}}
  or
  {{< x user="handle" id="123" >}}
*/}}

{{- $url := "" -}}
{{- with .Get "url" -}}
  {{- $url = . -}}
{{- else -}}
  {{- $user := .Get "user" -}}
  {{- $id := .Get "id" -}}
  {{- if and $user $id -}}
    {{- $url = printf "https://x.com/%s/status/%s" $user $id -}}
  {{- else -}}
    {{- errorf "shortcode x: provide either url=... or user=... and id=..." -}}
  {{- end -}}
{{- end -}}

<blockquote class="twitter-tweet" data-dnt="true">
  <a href="{{ $url | safeURL }}"></a>
</blockquote>

<script>
(function(){
  if (window.__x_widgets_loaded) {
    if (window.twttr && twttr.widgets && twttr.widgets.load) { twttr.widgets.load(); }
    return;
  }
  var s = document.createElement('script');
  s.async = true;
  s.src = 'https://platform.x.com/widgets.js';
  s.charset = 'utf-8';
  s.onerror = function(){
    // Fallback for environments where x.com is blocked
    var s2 = document.createElement('script');
    s2.async = true;
    s2.src = 'https://platform.twitter.com/widgets.js';
    s2.charset = 'utf-8';
    document.head.appendChild(s2);
  };
  document.head.appendChild(s);
  window.__x_widgets_loaded = true;
})();
</script>
